<div class="panel panel-primary">
     <div class="panel-heading">
        <span class="">
            View Purchase
        </span>
     </div>
     
<div class="panel-body">

<table class="table table-bordered" id="data-table">
    <thead>
        <tr>
            <td>S. O. Ref No</td>
            <td>Doc Code</td>
            <td>Doc Name</td>
            <td>Status</td>
            <td>PO No.</td>
            <td>PO Date</td>
            <td>Due Data</td>
            <td>Supply code</td>
            <td>Packing mode</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <a href="#"><tr>
            <td>54542</td>
            <td>BM4566</td>
            <td>Volvo</td>
            <td>Active</td>
            <td>24666</td>
            <td>31/10/2014</td>
            <td>31/11/2014</td>
            <td>gtt55</td>
            <td>Train</td>
            <td>Rs 5225/-</td>
        </tr>
    </a>
    <tr>
            <td>54542</td>
            <td>BM4566</td>
            <td>Volvo</td>
            <td>Active</td>
            <td>24666</td>
            <td>31/10/2014</td>
            <td>31/11/2014</td>
            <td>gtt55</td>
            <td>Train</td>
            <td>Rs 5225/-</td>
        </tr>
    </tbody>
</table>
</div>
</div>