<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Category</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bars"></i>
                Current Category
            </div>
            <div class="panel-body">
                <div id="category-listcategory" class="loadingifempty"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="company-add-edit">
        	
        </div>
    </div>
</div>
